html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.fighters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap;
  padding: 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}

#modal {
  display: none;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}

.modal-content .close {
  position: absolute;
  right: 1%;
  top: 0;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover {
  cursor: pointer;
}

#battle-chat {
  display: none;
  margin-top: 15px;
  background: #777777;
  border-radius: .25rem;
  padding: 10px;
  height: 200px;
  overflow: auto;
}

.modal-content .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.left, .right {
  flex: 1 1 49%;
  max-width: 49%;
  padding: 10px;
}

.left {
  align-items: center;
  display: flex;
}

img {
  max-width: 100%;
  max-height: 400px;
}

.vs {
  width: 85px;
  height: 255px;
}

.versus {
  margin: 0 10px;
}

.ava {
  width: 40%;
}
.reverse {
  transform: scaleX(-1);
}

.right {
  flex-wrap: wrap;
  flex-direction: column;
}

.right .spec {
  display: flex;
  justify-content: space-between;
}

.right .bnt-container .btn{
  width: 49%;
}

.right .bnt-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
